<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tavisca.EmployeeManagement.MSSqlStorage.Properties.Settings.Employeedb"
            connectionString="Data Source=YETESHT\SQLEXPRESS;Initial Catalog=Employeedb;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>